<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - EduSphere</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/styles.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar-cloud">
        <div class="navbar-content">
            <span class="navbar-brand">EduSphere</span>
            <ul class="navbar-cloud-list">
                <li>
                    <a href="/Timeline/Index" class="cloud-link cloud-efekt-link">
                        Home
                        <span class="hover-cloud"></span>
                    </a>
                </li>
                <li>
                    <a href="/Messages" class="cloud-link cloud-efekt-link">
                        Message
                        <span class="hover-cloud"></span>
                    </a>
                </li>
                <li>
                    <a href="/Home/About" class="cloud-link cloud-efekt-link">
                        About
                        <span class="hover-cloud"></span>
                    </a>
                </li>
                <li>
                    <a href="/Announcement/Public" class="cloud-link cloud-efekt-link">
                        Announcement
                        <span class="hover-cloud"></span>
                    </a>
                </li>
                <li>
                    <a href="/Event/Index" class="cloud-link cloud-efekt-link">
                        Events
                        <span class="hover-cloud"></span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="cloud-link cloud-efekt-link dropdown-toggle">
                        Academy
                        <span class="hover-cloud"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Academy/ExamCalendar">Sınav Takvimi</a></li>
                        <li><a href="/Academy/LessonSchedule">Ders Programı</a></li>
                        <li><a href="/Academy/ExamResults">Sınav Sonuçları</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="cloud-link cloud-efekt-link dropdown-toggle" style="display: flex; align-items: center; gap: 10px;">
                        <img src="/images/user-icon.png" alt="Profil" class="profile-avatar" />
                        Profil
                        <span class="hover-cloud"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/UserSettings/MyProfile">profilim</a></li>
                        <li><a href="/UserSettings/MyTweet">tweetlerim</a></li>
                        <li><a href="/Account/Logout">çıkış yap</a></li>
                    </ul>
                </li>


                <!-- Diğer menüleri buraya ekle -->
            </ul>
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
    </div>
    <script src="~/js/cloudnav.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>